*{padding: 0px; margin: 0px;}
.perf{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
}
.banner{
    width: 100vw;
    height: 20vh;
    background-color: blueviolet;
}
body{
    display: flex;
    flex-direction: column;
}